#drum-machine {
  background-color: antiquewhite;
}

#display {
  text-align: center;
  font-size: 1.25rem;
  padding: 10px 0;
}

.pad {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 20px;
}

.drum-pad {
  text-align: center;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  line-height:100px;
  background-color: darkgrey;
  border-radius: 5px;
}

